.login-div {
    margin: 0 auto;
    width: 600px;
    border: 0;
    resize: both;
    min-height: 350px;
    overflow: auto;
}
.captcha-tr td:last-child input, img {
    display: inline;
    width: 30%;
}

.imgObj {
    display: inline;
    float: right;
}

.login-table {
    font-weight: 900;
    text-align: right;
    font-family: "microsoft yahei", serif, sans-serif;
    background: url(/resources/img/body-background.jpg) repeat;
}

.login-table tr td:first-child {
    text-align: right;
}
.login-table tr:last-child input{
    padding: 5px 20px;
    margin: 0 80px;
    background-color: #e2eaf2;
    border: none;

}

.register-table {
    font-family: "microsoft yahei", serif, sans-serif;
    background: url(/resources/img/body-background.jpg) repeat;
}
.register-table tr td:first-child {
    text-align: right;
    width: 160px;
    font-weight: 900;
}
.register-table tr:last-child input{
    padding: 5px 20px;
    margin: 0 100px;
}

.list-div {
    text-align: left;
    font-family: serif, sans-serif;
    font-size: 25px;
    width: 1000px;
    margin: 0 auto;
    min-height: 400px;
}
.list-detail {
    border-color: lightgray;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
.list-detail:hover {
    background-color: yellow;
}
.content-div {
    width: 1000px;
    border: 1px solid darkgray;
    margin: 0 auto;
    min-height: 400px;
}
.content-title {
    text-align: center;
    font-size: 20px;
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: dodgerblue;
}
.content-title h2 {
    display: inline;
    line-height: 180%;
}
.content-title span {
    float: right;
    line-height: 200%;
}
.content {
    min-height: 400px;
}
.content > textarea{
    height: 500px;
}
