.login-div {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    resize: both;
    overflow: auto;
}

.login-table {
    font-weight: 900;
    text-align: right;
    font-family: "microsoft yahei", serif, sans-serif;
    font-size: 20px;
}

.login-table td {
    text-align: right;
}

.login-table tr {
    height: 20px;
}

.captcha {
    float: right;
}

.login-register {
    border-collapse:collapse;
}

.register-table {
    font-weight: normal;
    table-layout:fixed;
    text-align: right;
    font-family: "microsoft yahei", serif, sans-serif;
}
.register-table td {
    text-align: right;
    max-width: 10px;
}
.main-content {
    position: relative;
    top: 200px;
}
input:focus {
	background-color: gray;
}