<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/pages/**" location="/resources/pages/"/>
    <mvc:resources mapping="/resources/css/**" location="/resources/css/"/>
    <mvc:resources mapping="/resources/js/**" location="/resources/js/"/>
    <mvc:resources mapping="/resources/img/**" location="/resources/img/"/>
    <mvc:resources mapping="/resources/font/**" location="/resources/font/"/>
    <mvc:resources mapping="/resources/file/**" location="/resources/file/"/>
    <context:component-scan base-package="cn.sse.bupt.controller"/>
    <context:component-scan base-package="cn.sse.bupt.util"/>
    <context:component-scan base-package="cn.sse.bupt.service"/>

    <context:property-placeholder location="classpath:mail.properties"/>
    <!--jsp视图解析器-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="cache" value="false"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="order" value="0"/>
    </bean>

    <!--异常处理器-->
    <bean id="exceptionResolver" class="cn.sse.bupt.common.CustomerMappingExceptionResolver">
        <property name="defaultStatusCode" value="500"/>
        <property name="defaultErrorView" value="common/500"/>
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.validation.BindException">common/404</prop>
                <prop key="org.springframework.web.HttpRequestMethodNotSupportedException">common/404</prop>
                <prop key="org.springframework.web.bind.MissingServletRequestParameterException">common/404</prop>
                <prop key="org.springframework.beans.TypeMismatchException">common/404</prop>
                
            </props>
        </property>
        <property name="statusCodes">
            <props>
                <prop key="common/404">404</prop>
                <prop key="common/500">500</prop>
            </props>
        </property>
        <property name="viewSet">
            <set>
                <value>common/500</value>
            </set>
        </property>
    </bean>

    <!--拦截器-->
    <mvc:interceptors>
        <bean class="cn.sse.bupt.controller.interceptor.LoginInterceptor">
            <property name="excludedUrl">
                <list>
                    <value>/</value>
                    <value>/captcha.jpg</value>
                    <value>/resources/**</value>
                    <value>/userService/login</value>
                    <value>/userService/register</value>
                    <value>/userService/preLogin</value>
                    <value>/userService/preRegister</value>
                    <value>/userService/activeAccount/**</value>
                    <value>/fileService/download</value>
                    <value>/noticeService/listAllNotices/**</value>
                    <value>/noticeService/viewNoticeDetail/**</value>
                    <value>/suggestionService/viewSuggestion/**</value>
                    <value>/suggestionService/listSuggestions/**</value>
                    <value>/inutatccmOfTenderService/viewTenderDetail/**</value>
                    <value>/inutatccmOfTenderService/listTenderInfo/**</value>
                </list>
            </property>
        </bean>
        <mvc:interceptor>
            <mvc:mapping path="/noticeService/**"/>
            <mvc:mapping path="/inutatccmOfTenderService/**"/>
            <bean class="cn.sse.bupt.controller.interceptor.BusinessInterceptor">
                <property name="excludedUrl">
                    <list>
                        <value>/noticeService/listAllNotices/**</value>
                        <value>/noticeService/viewNoticeDetail/**</value>
                        <value>/inutatccmOfTenderService/viewTenderDetail/**</value>
                        <value>/inutatccmOfTenderService/listTenderInfo/**</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--发送邮件-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username">
            <value>${mail.smtp.username}</value>
        </property>
        <property name="password">
            <value>${mail.smtp.password}</value>
        </property>
        <property name="host">
            <value>${mail.smtp.host}</value>
        </property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
    </bean>
    <!--上传文件-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <!--验证码生成器-->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <constructor-arg>
                    <props>
                        <prop key="kaptcha.border">yes</prop>
                        <prop key="kaptcha.border.color">105,179,90</prop>
                        <prop key="kaptcha.textproducer.font.color">blue</prop>
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
                        <prop key="kaptcha.image.width">100</prop>
                        <prop key="kaptcha.image.height">35</prop>
                        <prop key="kaptcha.textproducer.font.size">30</prop>
                        <prop key="kaptcha.session.key">code</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>